certifi==2019.11.28
chardet==3.0.4
Click==7.0
docutils==0.16
Flask==1.1.1
Flask-Admin==1.5.6
Flask-Cors==3.0.9
Flask-PyMongo==2.3.0
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
natsort==7.0.1
packaging==20.4
Pillow==7.1.2
plantweb==1.2.1
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
tornado==6.0.4
typing-extensions==3.7.4.2
urllib3==1.25.8
Werkzeug==1.0.0
WTForms==2.3.1
xmltodict==0.12.0
