.dropdown-toggle
{
    color: #495057;
    background-color: #f8f9fa;
    border-color: #adb5bd;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col
{   
    background-color: white;
    margin:0.6rem;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 8px #e9e9ed;
}

.dropdown-toggle {
    color:#ff4a7c;
    background-color: white;
    border-color: #ff4a7c;
}


.dropdown-toggle:hover {
    color: white;
    background-color:#ff4a7c;
    border-color: #ff4a7c;
}

.show>.btn-secondary.dropdown-toggle {
    color: white;
    background-color:#ff4a7c;
    border-color: #ff4a7c;
}

.autocomplete-suggestion
{
    background-color: white;
    padding :3px
}

.autocomplete-selected
{
    background-color: rgb(202, 220, 248);
    padding :3px
}