body.cui .btn
{
    background-color: #0094eb;
border-color: #0175a2;
color: #f8f8f8;
}


.center
{

max-width: 900px;
    margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  background: white;
  overflow: scroll;
}
#diagram
{
  width: auto;
background: white;
text-align: center;
padding: 2rem;
background: white;
text-align: center;


}

#svg1 path,
#svg1 rect{
  fill: #00bceb;

}

.col
{
  overflow:auto
}



#logo
{
    position:absolute;
    top:0;
    margin-left: 30%;
}
