
.center
{
    max-width: 900px;
 
  margin-left: auto;
  margin-right: auto;
   
   
}
body.cui .btn {
  background-color: #0094eb;
  border-color: #0175a2;
  color: #f8f8f8;
}

.dataTables_wrapper
{
    padding: 20px;
    
    box-shadow:0px 0px 4px -1px rgba(125,114,125,1);
   background-color: white;
    font-family: tahoma;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current
{
  color:black !important;
  background:#a6d1f5;
  border:  1px solid #0087f7
}




#filter1
{
position:absolute;
left:25rem;
top:6rem;

}

#submit
{
position:absolute;
right:25rem;
top:6rem
}


#signature
{
position:absolute;
right:5rem;
top:6rem
}



.autocomplete-suggestion
{
padding: 8px;
margin:0.2rem;
width: 50rem;
color: #525252;
font-family: "Montserrat", sans-serif;
font-size: 13px;
font-weight: 100;
letter-spacing: 2px;
border: none;
border-radius: 5px;
background: white;

outline: none;
}

#submit:hover
{
cursor:pointer;
background-color: gainsboro;
}
.autocomplete-suggestion:hover
{
cursor:pointer;
background:#cff1fa;

outline: none;
}

.autocomplete-selected
{
cursor:pointer;
background:#cff1fa;

outline: none;
}
