<!DOCTYPE html>
<html>

<head>
    <!--import stylesheet in flask format-->
    <link href="{{url_for('static', filename='css/cui-standard.min.css')}}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{{url_for('static',filename='js/styleguide.js')}}"></script>
    {% block css %}{% endblock %}
    {% block meta %}<meta charset="utf-8">{% endblock %}
</head>

<body class="cui" id="body" data-theme="light" style="background-color: aliceblue;">...
    <body class="cui"  data-theme="light" style="background-color: aliceblue;">...
    <div class="row base-margin-bottom">
        <div class="col-12">
            <header class="header header--compressed" style="height: 6rem;">
                <div class="container">
                    <div class="header-panels">
                        <div class="header-panel">
                            <a class="header__logo" href="http://www.cisco.com" target="_blank">
                                <span class="icon-cisco icon-size-32"></span>
                            </a>
                            <div class="header__title">
                                {% block header %}
                                <h1 class="header__title" style="font-size: 2.5rem;font-weight:300;">CVP Log Analysis</h1>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="row base-margin-bottom">
        <div class="col-12">
            <nav id="styleguideSidebar" class="sidebar sidebar--mini sidebar--slate" role="navigation">
                <div class="sidebar__header">
                    <a id="sidebar-toggle" class="sidebar-toggle hidden-xs hidden-sm">
                        <span class="icon-toggle-menu"></span>
                    </a>

                </div>
                <ul id="rootSidebar" data-kss-ref="styleguide.homepage">
                    <li id="home" class="sidebar__item sidebar__item--selected" id="section-gettingStarted">
                        <a onclick="doNav('/')" title="Home">
                            <span class="icon-home"></span>
                            <span>Home</span>
                        </a>
                    </li>
                   
                    <div id="visible" style="display: none;">
                        <li id="files" class="sidebar__item">
                            <a onclick="doNav('/files')" title="Files">
                                <span class="icon-applications"></span>
                                <span>Files</span>
                            </a>
                        </li>
                        <li id="stat" class="sidebar__item">
                            <a id="statistics" title="Statistics">
                                <span class="icon-data-usage"></span>
                                <span>Statistics</span>
                            </a>
                        </li>
                        <li id="filters" class="sidebar__item">
                            <a id="filter"  title="Filters">
                                <span class="icon-filter"></span>
                                <span>Filters</span>
                            </a>
                        </li>
                        <li id="sign" class="sidebar__item">
                            <a onclick="doNav('/signatures')" id="signatures" title="Signatures">
                                <span class="icon-insights"></span>
                                <span>Signatures</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
{%block script%}
<script src="{{url_for('static' ,filename='js/initial.js')}}"></script>
{%endblock%}
</html>