<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
  <title>UCCE Solution Manager</title>
  <link href="../static/css/sidebar.css" rel="stylesheet">
  {%block css%}{%endblock%}

</head>

<body id="body">

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
      <div class="p-4 pt-5" >
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../static/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5"><li style="text-align: center;" id="welcome"></li></ul>
        
        <ul class="list-unstyled components mb-5">
         <li> <a href="/home"  id="home" >Summary</a></li>
         <li>  <a href="#" >Log Reader</a></li>
          <li> <a href="/log_analyzer" id="log_analyzer">Log Analyzer</a></li>
            <li> <a href="#" >Alert</a></li>
              <li>  <a href="/signatures-page" id="signatures">Signature</a></li>
        </ul>

        <div class="footer">
          <p>Copyright &copy; 2020 CCSM group  </p>
        </div>

      </div>
    </nav>

    
  
    <div id="content" >
      
        <nav class="navbar navbar-expand-lg" style="background-color:white">
           
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand ml-5" href="#">UCCE Solution Manager</a>
            <div>
              
            <ul class="navbar-nav ml-4 mr-auto nav-pills">
              
              <li id="home" class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
              </li>
              <li  class="nav-item">
              <a class="nav-link" href="#">CVP</a>
              </li>
            </ul>
            <ul class="navbar-nav  nav-pills">
              <li id="logo" class="nav-item">
                <a class="nav-link" >
                  <img src="{{url_for('static' ,filename='cisco.png')}}" height="30rem" alt="">
                </a>
              </li>
              <li class="nav-item profile">
                
                  <p class="nav-link"  >
                    <span  id="log"></span>
                  </p>
              </li>
            </ul>
            </div>
          </nav>
          {%block content%}{%endblock%}
          
      
        </body>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{{url_for('static' ,filename='js/base.js')}}"></script>
    {%block script%}{%endblock%}
  

 
  

</html>
