{% extends "base.html" %}
{%block css%}
<meta id="flaskvar" filename="{{filename}}">
    <link href="{{url_for('static', filename='dropzone-5.7.0/dropzone-5.7.0/dist/min/dropzone.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static' ,filename='dropzone-5.7.0/dropzone-5.7.0/dist/dropzone.js')}}"></script>
    <link href="{{url_for('static', filename='css/details.css')}}" rel="stylesheet" type="text/css">
   <style>
       .col-centered{
    float: none;
    margin: 0 auto;
}
   </style>
 {% endblock%}
{%block content %}
    <div class="container-fluid">
        <div class="row p-4">
            <div class="col col-md-10 col-centered ">
                <div class="item">
                    <div class="input-group input-group-sm">
                        <div class="dropdown mr-5">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select Files
                            </button>
                            <div class="dropdown-menu" id="files" aria-labelledby="dropdownMenuButton">
                         
                            </div>
                          </div>
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </span>
                        </div>
                        <input id="autocomplete" type="text" class="form-control" placeholder="Query" aria-label="Query" aria-describedby="basic-addon1">
                        <input id="submit" class="btn btn-sm btn-primary ml-5" type="submit" value="Filter"></div>
                      
             
                </div>
                <div class="dropdown-divider"></div>
           
           
               <div class="item">
                <h4 style="margin-bottom: 20px;">Call Details</h4>
                <table id="call_details" class=" table table-striped" width="100%" ></table>
               </div>
            </div>
        </div>
    </div>
{%endblock %}

{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="{{url_for('static' ,filename='js/details.js')}}"></script>
{%endblock%}
