{% extends "base.html" %}
{% block css %}
<link href="{{url_for('static', filename='css/diagram.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block meta %}
<meta charset="utf-8" id="flaskvar" guid="{{guid}}">
{% endblock %}
{% block header %}
<h1 class="header__title" style="font-size: 2.5rem;font-weight:300;">CVP Log Analysis - {{guid}}</h1>
{% endblock %}
{%block content%}
<div class="row base-margin-bottom" style="margin-left: 10rem;">
    <div class="col-12 center">
        <div id="diagram" width="75%" style="padding:20px;">
            <svg id="svg1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="30px"
                viewBox="0 0 60 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <rect x="0" y="15" width="4" height="4" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="4;10;4" begin="0s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="15; 10; 15" begin="0s" dur="0.6s"
                        repeatCount="indefinite" />
                </rect>
                <rect x="10" y="13" width="4" height="5" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="5;15;5" begin="0.15s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="15; 10; 15" begin="0.15s"
                        dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="20" y="13" width="4" height="6" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s"
                        dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="30" y="13" width="4" height="5" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="5;15;5" begin="0.15s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="15; 10; 15" begin="0.15s"
                        dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="40" y="15" width="4" height="4" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="4;10;4" begin="0.6s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="15; 10; 15" begin="0.6s"
                        dur="0.6s" repeatCount="indefinite" />
                </rect>
            </svg>
        </div>
    </div>
</div>

<div class="modal modal--small hide" id="modal-small">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal('modal-small')"><span class="icon-close"></span></a>
            <div class="modal__header">
                <div class="modal__title" id="title"></div>
            </div>
            <div class="modal__body">
                <p id="msg" style="font-family:Tahoma;font-size: 1.2rem;">ffff</p>
            </div>
            <div class="modal__footer">
                <button class="btn" onclick="closeModal('modal-small')">Ok</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
<script src="{{url_for('static' ,filename='js/diagram.js')}}"></script>
{%endblock%}