{% extends "base.html" %}
{% block meta %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<style>

    .center
    {
        max-width: 600px;
        margin-top: 4rem;
      margin-left: auto;
      margin-right: auto;
       
       
    }
    
    .dataTables_wrapper
    {
        padding: 20px;
        background-color: white;
        font-family: tahoma;
    }
    
    
        </style>
        {% endblock %}


        {%block nav}
        <li class="sidebar__item sidebar__item--selected">
            <a onclick="doNav('./files')" title="Getting Started">
                <span class="icon-applications"></span>
                <span>Files</span>
            </a>
        </li>
        <li class="sidebar__item " >
            <a id="statistics" title="Getting Started">
                <span class="icon-data-usage"></span>
                <span>Statistics</span>
            </a>
        </li>
        {%endblock}

                    
                    
              {%block content}
            <div class="row base-margin-bottom " style="margin-left: 10rem;">
                <div class="col-12 center">
                    <table id="table_id" style="width:80%" class=" hover order-column row-border">
                   
                </table>
                </div>
            </div>
            {%endblock}
      
    
</body>
{%block script}
<script>
 var files
    $(document).ready( function () {
       files=[]
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:5000/api/files',
            
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                //alert('Success!');
                for(i=0;i<data.length;i++)
                {
                    files[i]=[]
                    files[i]=[data[i],"<span class='icon-play-contained icon-size-20'  onclick='analyse("+i+")'  style='color:green' ></span><span class='icon-remove-contain icon-size-20' style='color:#a52727;margin-left:1rem' ></span>"]
                }
                console.log(files)
                files
                console.log(files)
                $('#table_id').DataTable(
        {
            data: files,
                columns: [
                    { title: "ID" },
                    { title: "Actions" },
                   
                ],
                stateSave: true
                } ); 
               
            }
        });
     
  

} );

function analyse(i) {
            var table = $('#table_id').DataTable();
            data = table.rows(i).data()[0][0]
            //alert(data)
            doNav('/statistics/'+data)
            //open diagram in new page
            //window.open("/diagram/" + data);
        }
</script>

{%endblock}
</html>