{% extends "base.html" %}
{% block meta %}
<link href="{{url_for('static', filename='css/signatures.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>

<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button.current
    {
      color:black !important;
      background:#a6d1f5;
      border:  1px solid #0087f7
    }
  



#filter
{
  position:absolute;
  left:25rem;
  top:6rem;
  
}

#submit
{
  position:absolute;
  right:25rem;
  top:6rem
}




.autocomplete-suggestion
{
  padding: 8px;
  margin:0.2rem;
  width: 50rem;
  color: #525252;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: white;
  
  outline: none;
}

#submit:hover
{
cursor:pointer;
background-color: gainsboro;
}
.autocomplete-suggestion:hover
{
  cursor:pointer;
  background:#cff1fa;
  
  outline: none;
}

.autocomplete-selected
{
  cursor:pointer;
  background:#cff1fa;
  
  outline: none;
}

        </style>
    </style>
{% endblock %}
 {%block content%}
            <div class="row base-margin-bottom " style="margin-left: 10rem;">
                <div class="col-12">
                    <div class="container">
                  <div class="form-group input--icon" id="filter">
                    <div class="form-group__text">
                        <input type="search"  style="background-color: white;width:55rem" name="country"  id="autocomplete" required>
                        
                        <button type="button" class="link" tabindex="-1">
                            <span class="icon-search"></span>
                        </button>
                    </div>
                </div>
    
<button id="submit" name="Submit" class="btn">Filter</button>
<br>
<div class="center" style="position: absolute;top:10rem;left:35rem">
<table id="table_id" style="width:80%" class=" hover order-column row-border"> </table>
</div>
           
    
                   </div>

               
                
            </div>
           

            {%endblock%}

</body>
{%block script%}
<script src="{{url_for('static',filename='js/filter.js')}}"></script>
<script type="text/javascript">


function openModal (id) {
    $('#modal-backdrop').removeClass('hide');
    //alert(o)
    $('#'+id).before('<div id="'+id+'-placeholder"></div>').detach().appendTo('body').removeClass('hide');
//document.getElementById("msg").innerHTML=o
//entById("title").innerHTML=type
}
function closeModal (id) {
    $('#'+id).detach().prependTo(('#'+id+'-placeholder')).addClass('hide');
    $('#modal-backdrop').addClass('hide');
}

$('#new').click(function()
{
openModal("modal-small")
})
 document.getElementById("table_id").innerHTML=""
    var countries = [
 
"guid" ,
"to" ,
"from" ,
"status" ,
"Thrd" ,
"CALLGUID" ,
"DialogId" ,
"DialogID" ,
"SendSeqNo" ,
"ErrorCode",
"text" ,
"type" ,
"DNIS" ,
"ANI",
"CED" ,
"rckey" ,
"rcseq" ,
"uui" ,
"callguid",
"trunkGroupId" ,
"trunkNumber" ,
"serviceId" ,
"calledNumber" ,
"location" ,
"locationpkid" ,
"pstntrunkgroupid" ,
"sipheader" ,
"variables" ,
"arrays" ,
"Variables" ,
"text" ,
"label" ,
"correlationId" ,
"sipheader" ,
"EventID" ,
"CauseCode" ,
"rcday" ,
"uui" ,
"whisperAnnounce" 
   ];
   let re  = /and\s|or\s|&&\s|\|\|\s/gi;
   $('#autocomplete').autocomplete({
     lookupLimit:5,
       lookup: countries,
       delimiter:re,
       onSelect: function (suggestion) {
          // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
           
       },
       beforeRender: function (container) {
         console.log(document.getElementById("autocomplete").value)
       }
   });
   
   $('#submit').click(function()
   {
     //alert("ggg")
     var p=document.getElementById("autocomplete").value
     console.log(p)
     //document.getElementById("entered_query").innerHTML=p
     var person = {
               filter: p
           }
           if (document.getElementById("table_id").innerHTML!="") {
                var table1 = $('#table_id').DataTable();
                table1.destroy();
                document.getElementById("table_id").innerHTML=""

              //  console.log(document.getElementById("table_id").innerHTML.length)
           }
           //console.log(document.getElementById("table_id").innerHTML)
   
     $.ajax({
               url: 'http://127.0.0.1:8000/api/filter',
               type: 'post',
               dataType: 'json',
               contentType: 'application/json',
               success: function (data) {
                // temp=data.guids.toString().replace(/,/g,"<br>")
                  // document.getElementById("out").innerHTML=temp
                  files=[]
                  console.log(data.guids.length)
                  for(i=0;i<data.guids.length;i++)
            {
                files[i]=[]
                files[i]=[data.guids[i],"<a href='#' id='seq_diag' onclick='seq(" + i + ")'>Details</a>"]
            }
            /* if (document.getElementById("table_id").innerHTML != "") {
                var table1 = $('#table_id').DataTable();
                table1.destroy()
            }*/
            //document.getElementById('table_id').innerHTML = ""
            $('#table_id').DataTable(
    {scrollY:        '50vh',
        scrollCollapse: true,
        data: files,
            columns: [
            { title: "ID" },
                    { title: "Details" } 
               
            ],
           
            } ); 
                   
               },
               data: JSON.stringify(person)
           });
   });

   function seq(i) {
            var table = $('#table_id').DataTable();
            
            data = table.rows(i).data()[0][0]
            $.ajax({
                type: 'GET',
                url: '/diagram/' + data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                }
            });
            //open diagram in new page
            window.open("/diagram/" + data);
        }
   </script>
{%endblock%}
</html>