{% extends "base.html" %}
{% block css %}
<link href="{{url_for('static', filename='css/filter.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
{% endblock %}
{% block meta %}
<meta id="flaskvar" filename="{{filename}}">
{% endblock %}
{%block content%}
<div class="row base-margin-bottom " style="margin-left: 10rem;">
    <div class="col-12">
        <div class="container">
            <div class="form-group input--icon" id="filter1">
                <div class="form-group__text">
                    <input type="search" style="background-color: white;width:55rem" name="country" id="autocomplete"
                        required>

                    <button type="button" class="link" tabindex="-1">
                        <span class="icon-search"></span>
                    </button>
                </div>
            </div>

            <button id="submit" name="Submit" class="btn">Filter</button>
            
            <br>
            <div class="center" style="position: absolute;top:20rem;left:28rem">
                <table id="table_id" style="width:80%" class=" hover order-column row-border"> </table>
            </div>
        </div>
    </div>
</div>

<div class="modal modal--small hide" id="modal-small">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal('modal-small')"><span class="icon-close"></span></a>
            <div class="modal__header">
                <div class="modal__title">Small Modal</div>
            </div>
            <div class="modal__body">
                <p class="subtitle">This is a small width modal</p>
            </div>
            <div class="modal__footer">
                <button class="btn" onclick="closeModal('modal-small')">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal--small hide" id="modal-small-sign">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal('modal-small-sign')"><span class="icon-close"></span></a>
            <div class="modal__header">
                <div class="modal__title">Add Signature</div>
            </div>
            <div class="modal__body">
                <div class="form-group base-margin-bottom">
                    <div class="form-group__text">
                        <input id="input-state-readonly" type="text" readonly>
                        <label for="input-state-readonly">Query</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__text">
                        <input id="input-hint-default" type="text">
                        <label for="input-hint-default">Signature</label>
                    </div>
                    <div class="form-group__help">
                        <span>Enter relevant signature</span>
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                <button id="add" class="btn" onclick="closeModal('modal-small-sign')">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal--small hide" id="modal-small-list">
    <div class="modal__dialog">
        <div class="modal__content">
            <a class="modal__close" onclick="closeModal('modal-small-list')"><span class="icon-close"></span></a>
            <div class="modal__header">
                <div class="modal__title">Signatures</div>
            </div>
            <div class="modal__body">

            </div>
            <div class="modal__footer">
                <button id="add" class="btn" onclick="closeModal('modal-small-list')">Add</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
<script src="{{url_for('static',filename='js/filter.js')}}"></script>
{%endblock%}
