{% extends "base.html" %}
{% block content %}
<div class="row base-margin-bottom" style="position: relative;left: 10rem;top:5rem;margin-right: 20rem;">
    <div class="col-6">
        <div class="row">
            <form id="upload-widget" method="post" action="/uploads" class="dropzone"></form>
        </div>
        <div clas="row ">
            <div class="center">
                <button class="btn pull left" id="upload">Upload</button>
                <button class="btn pull-right" id="upload-c">Upload Config</button>
            </div>
        </div>
        <div class="row center">
            <button class="btn  pull-right" onclick="doNav('./files')" id="upload-c" style="background-color: burlywood;
            border-color:darkred;">View Files</button>
        </div>

    </div>
    <div class="col-6">
        <div class="timeline">
            <div class="timeline__item">
                <div class="timeline__icon">
                    <span class="icon-circle"></span>
                </div>
                <div class="timeline__content" style="background-color: white;">
                    <div>
                        This tool identify signatures and patterns in Contact
                        Center Calls based on CVP logs </div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__icon">
                    <span class="icon-circle"></span>
                </div>
                <div class="timeline__content" style="background-color: white;">
                    <div>
                        Upload the file ,See the list of files, Analyse the file wanted...

                    </div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__icon">
                    <span class="icon-circle"></span>
                </div>
                <div class="timeline__content" style="background-color: white;">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar
                        accumsan leo, quis egestas quam luctus non. Aenean vulputate ullamcorper velit eu
                        hendrerit</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}