{% extends "base.html" %}
{%block css%}
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js" integrity="sha384-ufR9RFnRs6lniiaFvtJziE0YeidtAgBRH6ux2oUItHw5WTvE1zuk9uzhUU/FJXDp" crossorigin="anonymous"></script> <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js" integrity="sha384-8QM/PGWBT+IssZuRcDcjzwIh1mkOmJSoNMmyYDZbCfXJg3Ap1lEvdVgFuSAwhb/J" crossorigin="anonymous"></script> <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js" integrity="sha384-Jm8cH3Rg0P6UeZhVY5cLy1WzKajUT9KImCY+76hEqrcJt59/d8GPvFHjCkYgnSIn" crossorigin="anonymous"></script> <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.0.2.min.js" integrity="sha384-Ozhzj+SI7ywm74aOI/UajcWz+C0NjsPunEVyVIrxzYkB+jA+2tUw8x5xJCbVtK5I" crossorigin="anonymous"></script> <script type="text/javascript"> Bokeh.set_log_level("info"); </script>
<link href="{{url_for('static', filename='dropzone-5.7.0/dropzone-5.7.0/dist/min/dropzone.min.css')}}" rel="stylesheet"
    type="text/css">
<script src="{{url_for('static' ,filename='dropzone-5.7.0/dropzone-5.7.0/dist/dropzone.js')}}"></script>
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock%}

{%block content %}
<div class="container-fluid">
    <div class="row p-4">
        <div class="col col-md-3 " style="height:min-content;">
            <div class="item ">
                <form id="upload-widget" method="post" action="" class="dropzone"></form>
            </div>
        <div class="">
            <div class="row">
                <div class="col-6 ml-4">
                    Accepts txt,log,zip
                </div>
                <div class="col-4">
                    <button type="button" id="upload" class="btn btn-primary btn-sm float-right mr-3 mb-2">Upload</button>
                </div>
            </div>
        </div>
            
        </div>
        <div class="col-md-2">
            <div class="item">
                <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
                <div id="container"></div>
                <div class="info" style="color:#0852a6 ;">Log files</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item">
               
                <div id="container1"></div>
                <p class="info" style="color:#23a525 ;">Success</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item">
               
                <div id="container2"></div>
                <p class="info" style="color: #dfc81d ;">Fail</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="item">
               
                <div id="container3"></div>
                <p class="info" style="color:#df371d ;">Alert</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="calls"></div>
                <p class="highcharts-description">
                </p>
            </figure>
        </div>
        
        <div class="col-6">
            <figure class="highcharts-figure">
                <div id="licenses"></div>
                <p class="highcharts-description">
                </p>
            </figure>
		</div>
    </div>
    </div>
</div>

<div class="modal fade " id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="title">Matched Signatures</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="signatures1" style="padding: 10px;">

            </div>

        </div>
    </div>
</div>
<div class="modal fade " id="error_modal" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="title">System Alerts</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="prelim_sigs" style="padding: 10px;">

            </div>

        </div>
    </div>
</div>
{%endblock %}

{%block script%}
<script src="{{url_for('static',filename="progressbar.js-master/progressbar.js-master/dist/progressbar.js")}}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{{url_for('static' ,filename='js/index.js')}}"></script>

{%endblock%}