<!DOCTYPE html>
<html>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/login.css" rel="stylesheet">
  
  <head>

  </head>

  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" id="username" placeholder="Username"/>
          <input type="password" placeholder="Password"/>
          <button onclick="login()">login</button>
          
        </form>
      </div>
    </div>

    <nav class="navbar fixed-bottom justify-content-center" style='height: 2rem;background-color: aliceblue;'>
      <div class="footer-copyright text-center py-3" style="position:relative;bottom: 15px;font-size: 0.8rem;">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> CCSM group</a>
      </div>
    </nav>
  </body>

  <script>
    
    function login()
    {
      var username=document.getElementById("username").value
      sessionStorage.setItem("session",username)
      $.ajax({
            type: 'GET',
            url: `/setSession/${username}`,
            success: function(data){
                //window.alert(`${username} session set`)
                //initial()
                location.href="/home"
            }
        })
    
    
}


    
  </script>
