{% extends "base.html" %}
{% block meta %}
<link href="{{url_for('static', filename='css/signatures.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
{% endblock %}
{%block content%}
<div class="row base-margin-bottom " style="margin-left: 10rem;">
	<div class="col-6">
		<div style="background-color: white;position:absolute;top:10rem;padding:25px">
		<div class="form-group">
			<div class="form-group__text">
				<input id="input-state-readonly" style="width:40rem" type="text">
				<label for="input-state-readonly">Query</label>
			</div>
			<br>
			<div class="form-group__text">
				<input id="input-hint-default" type="text">
				<label for="input-hint-default">Signature</label>
			</div>
			<div class="form-group__help">
				<span>Enter relevant signature</span>
			</div>
			<button class="btn" id="add">Add</button>
		</div>
	</div></div>
		
	<div class="col-6 center">
		<table id="table_id" style="width:80%;" class=" hover order-column row-border"> </table>
     
	</div>
</div>
	{%endblock%}
	{%block script%}
	<script src="{{url_for('static',filename='js/signatures.js')}}"></script>
	{%endblock%}