<!DOCTYPE html>
<html>

<head>
    <!--import stylesheet in flask format-->
    <link href="{{url_for('static', filename='css/cui-standard.min.css')}}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{{url_for('static',filename='js/styleguide.js')}}"></script>
    <link href="{{url_for('static', filename='dropzone-5.7.0/dropzone-5.7.0/dist/min/dropzone.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static' ,filename="dropzone-5.7.0/dropzone-5.7.0/dist/dropzone.js")}}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    
    <!--<script src="public/js/clipboard.js"></script>
    <script src="public/js/featherlight.min.js"></script>
    <script src="public/js/Markdown.Converter.js"></script>
    <script src="public/js/highlight.pack.js"></script>-->
    
    <meta charset="utf-8">
    <style>
        body.cui .btn
        {
            background-color: #0094eb;
    border-color: #0175a2;
    color: #f8f8f8;
}
        
     
.center
{
    max-width: 600px;
    margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
   
}

.dataTables_wrapper
{
    padding: 20px;
    background-color: white;
}

    </style>


<script>
    //get list of files in database

    //get list of ccapi for the file selected in the dropdown menu
    filename="CVP.2020-02-13.00.log"
    get_table(filename)
    function get_table(filename) {
        fetch('/api/GUIDs/' + filename)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                //add data to datatables
                appendData(data);
            })
            .catch(function (err) {
                console.log(err);
            });
    }

    function appendData(data) {
        var GUIDs = [];
        for (var i = 0; i < data.length; i++) {
            GUIDs[i] = [];
            //for Details hyperlink to work
            GUIDs[i] = [data[i][0], "<a href='#' id='seq_diag' onclick='seq(" + i + ")'>Details</a>"];
        }
        //destroy the tables content hen switching b/w files
        if (document.getElementById("example").innerHTML != "") {
            var table1 = $('#example').DataTable();
            table1.destroy()
        }
        document.getElementById('example').innerHTML = ""
        $('#example').DataTable({
            data: GUIDs,
            //add error codes
            "createdRow": function (row, data, dataIndex) {
                if (data[12] > 500) {
                    $(row).addClass('red');
                }
                else if (data[12] > 400) {
                    $(row).addClass('maroon');
                }
            },
            //columns for database
            columns: [
                { title: "ID" },
                { title: "Details" }
            ]
        });

        var table = $('#example').DataTable();

    }
    //execute this when diagram for sequence is asked
    function seq(i) {
        var table = $('#example').DataTable();
        data = table.rows(i).data()[0][0]
        $.ajax({
            type: 'GET',
            url: '/diagram/' + data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
            }
        });
        //open diagram in new page
        window.open("/diagram/" + data);
    }
</script>

</head>

<body class="cui" data-theme="light" style="background-color: aliceblue;">...

    
    
    

    <div class="row base-margin-bottom">
        <div class="col-12">
            <header class="header header--compressed" style="height: 6rem;">
                <div class="container">
                    <div class="header-panels">
                        <div class="header-panel">
                            <a class="header__logo" href="http://www.cisco.com" target="_blank">
                                <span class="icon-cisco icon-size-32"  ></span>
                            </a>
                            <div class="header__title">
                                <h1 class="header__title" style="font-size: 2.5rem;font-weight:300;">CVP Log Analysis</h1> </div>
                        </div>
                       
        
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="row base-margin-bottom">
        <div class="col-12">
            <nav id="styleguideSidebar" class="sidebar sidebar--mini sidebar--slate" role="navigation">
                <div class="sidebar__header">
                    <a id="sidebar-toggle" class="sidebar-toggle hidden-xs hidden-sm">
                        <span class="icon-toggle-menu"></span>
                    </a>
                    
                </div>
                <ul id="rootSidebar" data-kss-ref="styleguide.homepage">
                    <li class="sidebar__item " id="section-gettingStarted">
                        <a onclick="doNav('/')"  title="Home">
                            <span class="icon-home"></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a onclick="doNav('./files')" title="Getting Started">
                            <span class="icon-applications"></span>
                            <span>Files</span>
                        </a>
                    </li>
                    <li class="sidebar__item sidebar__item--selected" >
                        <a onclick="doNav('/statistics')" title="Getting Started">
                            <span class="icon-data-usage"></span>
                            <span>Statistics</span>
                        </a>
                    </li>
                    
                    
                    <li class="sidebar__item">
                            <a onclick="doNav('/')" title="Getting Started">
                                <span class="icon-feedback"></span>
                                <span>Feedback</span>
                            </a>
                    </li>
                </ul>
            </nav>
            <div class="row base-margin-bottom"  style="margin-left: 10rem;">
            
                <div class="col-12 center">
                    <table id="example" class=" table table--striped mdl-data-table " width="75%" style="padding:20px;"></table>
                </div>
      </div>
        </div>

        
    </div>

    
</body>


</html>